Repository shortlist-digital/tapestry-wp: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, eslint --fix

typo [skip ci]
  test/components/page.js
Due: eslint --fix

some fairly nasty WP-API data parsing
  src/fetch-data.js
  test/tests/component.test.js
  test/tests/routing.test.js
  test/utils.js
Due: eslint --fix

remove erroneous error tag
  src/fetch-data.js
Due: eslint --fix

WIP
  src/client/webpack.entry.js
  src/constants/default-routes.js
  src/fetch-data.js
  src/server/handle-dynamic.js
  src/shared/default-routes.js
  src/shared/fetch-data.js
  src/shared/fetch-route-data.js
  src/shared/router.js
Due: eslint --fix

Renamed some stuff
  src/constants/default-routes.js
  src/shared/fetch-data.js
Due: eslint --fix

Major WIP
  src/server/handle-dynamic.js
  src/shared/default-routes.js
  src/shared/fetch-data.js
  src/shared/router.js
  test/components/error.js
  test/components/front-page.js
  test/components/page.js
  test/tests/component.test.js
  test/tests/routing.test.js
  test/utils.js
Due: eslint --fix

Not sure what module.default does
  src/server/handle-dynamic.js
  src/shared/router.js
Due: eslint --fix

add custom endpoint test
  test/tests/routing.test.js
Due: eslint --fix

update default category query
  src/shared/default-routes.js
Due: eslint --fix

more logging
  package.json
  src/client/index.js
  src/server/handle-dynamic.js
  src/server/index.js
  src/utilities/logger.js
  src/utilities/validator.js
  src/webpack/server.config.js
Due: editorconfig-tools fix, eslint --fix

add data re-mapping
  src/shared/fetch-data.js
Due: eslint --fix

single posts as props, multiple posts as an array on `posts` prop
  src/shared/fetch-data.js
Due: eslint --fix

rename componentStuff to maybeWrapComponent
  src/shared/router.js
Due: eslint --fix

couple o fixes
  src/utilities/validator.js
Due: eslint --fix

1.7.4-0
  package.json
Due: editorconfig-tools fix

test for posts object
  src/shared/fetch-data.js
Due: eslint --fix

1.7.4-1
  package.json
Due: editorconfig-tools fix

don't publish on version as we might want to tag with next or alpha or beta etc
  package.json
Due: editorconfig-tools fix

1.7.4-2
  package.json
Due: editorconfig-tools fix

hotfix webpack tapestry folder resolution
  src/webpack/server.config.js
Due: eslint --fix

Updated frontpage to v2 spec, tweaked default-route to match permalink from WP
  bootstrap/components/front-page.js
  bootstrap/components/post.js
  src/shared/default-routes.js
Due: eslint --fix

Throw validation error if frontPage is declared
  src/utilities/validator.js
Due: eslint --fix

Removed custom error message, cannot chain with others
  src/utilities/validator.js
Due: eslint --fix

Deprecated loaders in config
  src/utilities/validator.js
Due: eslint --fix

Replaced lobErrorObject with errorMessage
  src/utilities/validator.js
Due: eslint --fix

ESLint is linting node modules
  package.json
  src/client/webpack.entry.js
  src/server/handle-dynamic.js
  src/server/render/default-html.js
  src/server/render/index.js
  src/shared/fetch-data.js
  src/shared/progress-indicator.js
  src/shared/route-wrapper.js
Due: editorconfig-tools fix, eslint --fix

testing eslint
  src/shared/progress-indicator.js
  src/shared/route-wrapper.js
Due: eslint --fix

Render progress indicator
  src/shared/progress-indicator.js
  src/shared/route-wrapper.js
Due: eslint --fix

Renamed Error component to CustomError
  src/server/render/index.js
  src/shared/default-routes.js
  src/utilities/logger.js
  src/utilities/validator.js
Due: eslint --fix

Added test for custom error page
  test/tests/component.test.js
Due: eslint --fix

Deprecated Error component in components validator
  src/utilities/validator.js
Due: eslint --fix

Added custom message for forbidden values (assuming deprecated)
  src/utilities/validator.js
Due: eslint --fix

hotfix: webpack server output path
  src/webpack/server.config.js
Due: eslint --fix

Revert default routes for patch deploy
  package.json
  src/shared/default-routes.js
Due: editorconfig-tools fix, eslint --fix

Reverted path/route updates to publish other fixes
  src/shared/loader-categories.js
  src/shared/loader-front-page.js
  src/shared/loader-page.js
  src/shared/loader-post.js
  test/tests/component.test.js
  test/tests/document.test.js
  test/utils.js
Due: eslint --fix

1.7.4
  package.json
Due: editorconfig-tools fix

Brief WP plugin documentation
  README.md
Due: editorconfig-tools fix

gzip content-length workaround
  package.json
  src/server/handle-api.js
  src/shared/fetch-route-data.js
  src/shared/progress-indicator.js
Due: editorconfig-tools fix, eslint --fix

First go at the progress indicator
  package.json
  src/client/webpack.entry.js
  src/shared/fetch-route-data.js
  src/shared/progress-indicator.js
Due: editorconfig-tools fix, eslint --fix

first go at progress indicator
  src/shared/fetch-route-data.js
  src/shared/progress-indicator.js
Due: eslint --fix

Path conditions:
  editorconfig-tools fix: any of: *.{md,sh,txt,xml,html,json}
  eslint --fix: any of: *.js
