Repository shortlist-digital/tapestry-wp: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, eslint --fix

2.0.0-18
  package.json
Due: editorconfig-tools fix

update changelog
  CHANGELOG.md
Due: editorconfig-tools fix

use 301 status for redirects for IE 10/11 compatibility
  src/server/handle-redirects.js
  test/tests/redirects.test.js
Due: eslint --fix

2.0.0-19
  package.json
Due: editorconfig-tools fix

2.0.0-19 changelog update
  CHANGELOG.md
Due: editorconfig-tools fix

add polyfill of es6 symbol to client bundle
  package.json
  src/webpack/client.config.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

2.0.0-20
  package.json
Due: editorconfig-tools fix

Pass props to onPageUpdate (#256)
  src/shared/fetch-data.js
  src/shared/handle-api-response.js
  src/shared/route-wrapper.js
Due: eslint --fix

Fix/multi link click error (#258)
  package.json
  src/client/index.js
  src/server/handle-dynamic.js
  src/server/render/index.js
  src/shared/components/progress-indicator/index.js
  src/shared/fetch-data.js
  src/shared/fetch-route-data.js
  src/shared/third-party/async-props.js
  src/webpack/client.config.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

2.0.0-21
  package.json
Due: editorconfig-tools fix

Add initial config and test for HTTP header caching
  src/server/handle-api.js
  src/server/handle-dynamic.js
  test/tests/response.test.js
Due: eslint --fix

move to ENV variable and update test
  src/server/handle-api.js
  src/server/handle-dynamic.js
  src/server/handle-static.js
  src/utilities/validator.js
  test/tests/response.test.js
Due: eslint --fix

added new test for API responses
  test/tests/api.test.js
Due: eslint --fix

typo [skip ci]
  test/tests/response.test.js
Due: eslint --fix

remove unused config object
  src/utilities/validator.js
Due: eslint --fix

2.0.0-22
  package.json
Due: editorconfig-tools fix

Handle preview endpoints and don't set a cache header
  src/server/handle-dynamic.js
  test/tests/response.test.js
Due: eslint --fix

2.0.0-23
  package.json
Due: editorconfig-tools fix

Add test and fix caching bug, where query params were cached
  src/server/handle-dynamic.js
  test/tests/cache.test.js
Due: eslint --fix

added one more test to be double-y sure no query strings are ending up in the cache
  test/tests/cache.test.js
Due: eslint --fix

2.0.0-24
  package.json
Due: editorconfig-tools fix

Removed JSON stringify to catch Hapi errors (#263)
  src/server/handle-redirects.js
Due: eslint --fix

2.0.0-25
  package.json
Due: editorconfig-tools fix

Update CHANGELOG.md
  CHANGELOG.md
Due: editorconfig-tools fix

update remote endpoint to use new mock file
  test/tests/redirects.test.js
Due: eslint --fix

strict equality
  src/server/handle-redirects.js
Due: eslint --fix

use faster object key check
  src/server/handle-redirects.js
Due: eslint --fix

2.0.0-26
  package.json
Due: editorconfig-tools fix

initial work on wordpress.com hosting support
  src/server/handle-api.js
Due: eslint --fix

initial work on wordpress.com hosting support
  test/tests/wordpress-dot-com.test.js
Due: eslint --fix

add wordpress dot com hosting support
  src/server/handle-api.js
  src/utilities/validator.js
  test/tests/wordpress-dot-com.test.js
Due: eslint --fix

updating test names
  test/tests/wordpress-dot-com.test.js
Due: eslint --fix

formatting [skip ci]
  test/tests/wordpress-dot-com.test.js
Due: eslint --fix

add idx existential config check
  src/server/handle-api.js
Due: eslint --fix

use actual NODE_ENV in webpack
  src/webpack/client.config.js
Due: eslint --fix

only cache if environmnt variable is set
  src/utilities/cache-manager.js
  test/tests/cache.test.js
Due: eslint --fix

only cache static files if STATIC_CACHE_CONTROL_MAX_AGE is set
  src/server/handle-static.js
Due: eslint --fix

stringify env
  src/webpack/client.config.js
  test/tests/cache.test.js
Due: eslint --fix

Path conditions:
  editorconfig-tools fix: any of: *.{md,sh,txt,xml,html,json}
  eslint --fix: any of: *.js
