Repository shortlist-digital/tapestry-wp: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, eslint --fix

Improved babel script
  package.json
Due: editorconfig-tools fix

Reinstated tapestry-build step, removed preact aliasing, removed webpack tree-shaking, fixed missing assets file
  bin/tapestry
  bin/tapestry-build
  bin/tapestry-start
  package.json
  src/server/index.js
  src/server/render/default-html.js
  src/webpack/client.config.js
  src/webpack/shared.js
Due: editorconfig-tools fix, eslint --fix

Re-work how assets get passed through to server
  src/client/index.js
  src/index.js
  src/server/handle-dynamic.js
  src/server/index.js
  src/server/render/index.js
Due: eslint --fix

Fixed error handling in loaders
  src/shared/loader-categories.js
  src/shared/loader-front-page.js
  src/shared/loader-page.js
  src/shared/loader-post.js
Due: eslint --fix

Improving immutability, removing unneeded stuff, vendorising react-helmet
  bin/tapestry
  bin/tapestry-build
  bin/tapestry-dev
  bin/tapestry-init
  bin/tapestry-start
  src/index.js
  src/webpack/client.config.js
Due: eslint --fix

1.5.6-0
  package.json
Due: editorconfig-tools fix

Updated validator
  src/utilities/validator.js
Due: eslint --fix

1.5.6-1
  package.json
Due: editorconfig-tools fix

Enable sourcemaps
  src/webpack/client.config.js
Due: eslint --fix

Added object-rest-spread
  bin/tapestry-build
  bin/tapestry-dev
  package.json
  src/index.js
  src/webpack/shared.js
  test/babel-register.js
Due: editorconfig-tools fix, eslint --fix

Updated eslint config to allow object rest spread
  .eslintrc.json
Due: editorconfig-tools fix

Added eslint import plugin, added/updated missing packages
  .eslintrc.json
  package.json
Due: editorconfig-tools fix

Updated package versions
  package.json
Due: editorconfig-tools fix

Testing
  bin/tapestry-dev
  package.json
  src/client/index.js
  src/index.js
  src/webpack/server.config.js
Due: editorconfig-tools fix, eslint --fix

Removed stage-0 preset
  package.json
Due: editorconfig-tools fix

Working prototype, time for a tidy-up
  bin/tapestry
  bin/tapestry-build
  bin/tapestry-dev
  bin/tapestry-start
  package.json
  src/client/index.js
  src/index.js
  src/utilities/config.custom.js
  src/webpack/client.config.js
  src/webpack/server.config.js
Due: editorconfig-tools fix, eslint --fix

Updated code references, commented throughout, removed unneeded tapestry-build
  bin/tapestry-build
  bin/tapestry-dev
  bin/tapestry-start
  src/client/index.js
  src/utilities/config.custom.js
  src/utilities/merge-config.js
Due: eslint --fix

Updated test suite to call correct Server instance, removed unneeded methods
  bin/tapestry-dev
  bin/tapestry-start
  src/index.js
  test/utils.js
Due: eslint --fix

Added comments
  src/webpack/client.config.js
  src/webpack/server.config.js
Due: eslint --fix

Logging out each webpack asset
  src/client/index.js
Due: eslint --fix

Rewrote it, it was bad, it is now not bad
  src/client/index.js
Due: eslint --fix

1.6.0-0
  package.json
Due: editorconfig-tools fix

Hotfix, adding webpack to custom webpack function
  bin/tapestry-dev
Due: none

1.7.0-0
  package.json
Due: editorconfig-tools fix

Rollback preminor release
  package.json
Due: editorconfig-tools fix

1.6.0-1
  package.json
Due: editorconfig-tools fix

Hotfix, adding webpack to custom webpack function, now in tapestry start as well
  bin/tapestry-start
Due: none

1.6.0-2
  package.json
Due: editorconfig-tools fix

1.6.0
  package.json
Due: editorconfig-tools fix

initial work at in memory caching
  package.json
  src/server/handle-api.js
  src/server/handle-dynamic.js
Due: editorconfig-tools fix, eslint --fix

register global reset-cache event
  src/server/handle-api.js
  src/server/handle-dynamic.js
  src/server/index.js
  test/tests/document.test.js
Due: eslint --fix

neater callback registration
  src/server/handle-api.js
  src/server/handle-dynamic.js
Due: eslint --fix

whitespace [skip ci]
  src/server/handle-api.js
  src/server/handle-dynamic.js
Due: eslint --fix

Expose getComponent method on route, requires router match on client
  src/client/webpack.entry.js
  src/shared/default-routes.js
Due: eslint --fix

Allow getComponent on static route object
  src/utilities/validator.js
Due: eslint --fix

Allow dynamic import as recommended by webpack
  package.json
  src/webpack/shared.js
Due: editorconfig-tools fix, eslint --fix

Tidied up HTML without asyncProps, displaying all chunks in webpack logger
  src/client/index.js
  src/server/render/default-html.js
Due: eslint --fix

Added simple async component from static routing test
  test/tests/routing.test.js
Due: eslint --fix

Added missing loaders from config validation
  src/utilities/validator.js
Due: eslint --fix

1.6.1
  package.json
Due: editorconfig-tools fix

Path conditions:
  editorconfig-tools fix: any of: *.{md,sh,txt,xml,html,json}
  eslint --fix: any of: *.js
