Repository shortlist-digital/tapestry-wp: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, eslint --fix

.lintstagedrc:

{
  "*.{md,sh,txt,xml,html,json}": [
    "editorconfig-tools fix",
    "git add"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ]
}

introduce cache manager for centralised cache config
  src/server/handle-api.js
  src/server/handle-dynamic.js
  src/server/index.js
  src/utilities/cache-manager.js
Due: eslint --fix

1.7.0
  package.json
Due: editorconfig-tools fix

Default to max age 0 unless on production
  src/utilities/cache-manager.js
Due: eslint --fix

0 means never expire apparently
  src/utilities/cache-manager.js
Due: eslint --fix

1.7.1
  package.json
Due: editorconfig-tools fix

remove code that modifies data response
  src/server/handle-api.js
Due: eslint --fix

1.7.2
  package.json
Due: editorconfig-tools fix

Added babel-polyfill to client bundle
  package.json
  src/webpack/client.config.js
Due: editorconfig-tools fix, eslint --fix

Commented entry line
  src/webpack/client.config.js
Due: eslint --fix

initial work on purgeing URLs from the memory cache
  src/server/handle-dynamic.js
  src/server/handle-purge.js
  src/server/index.js
  src/utilities/cache-manager.js
Due: eslint --fix

Removed scrollTo and fixed onPageUpdate so the supplied method is called
  src/client/webpack.entry.js
  src/shared/loader-categories.js
  src/shared/loader-front-page.js
  src/shared/loader-page.js
  src/shared/loader-post.js
Due: eslint --fix

tidy up
  src/server/handle-dynamic.js
  src/utilities/cache-manager.js
Due: eslint --fix

very important codez
  src/server/index.js
Due: eslint --fix

1.7.3
  package.json
Due: editorconfig-tools fix

Initial summary work
  README.md
  SUMMARY.md
  docs/introduction/Motivation.md
Due: editorconfig-tools fix

docs amend
  README.md
Due: editorconfig-tools fix

Initial work on redirect handler
  src/server/handle-dynamic.js
  src/server/handle-redirects.js
  src/server/index.js
  src/utilities/validator.js
  test/tests/redirects.test.js
Due: eslint --fix

modified dynamic by mistake
  src/server/handle-dynamic.js
Due: eslint --fix

figured out how to test intermediate redirect headers
  test/tests/redirects.test.js
Due: eslint --fix

felshing out docs layout [skip ci]
  SUMMARY.md
  docs/configuration/README.md
  docs/configuration/components.md
  docs/configuration/loaders.md
  docs/configuration/on-page-update.md
  docs/configuration/proxies.md
  docs/configuration/redirects.md
  docs/introduction/css-in-js.md
  docs/introduction/react-components.md
  docs/introduction/webpack.md
  docs/wordpress/plugin.md
  docs/wordpress/previews.md
Due: editorconfig-tools fix

1st-party scripts can now run before 3rd party scripts
  src/server/render/default-html.js
Due: eslint --fix

book.json and components docs
  book.json
  docs/configuration/README.md
  docs/configuration/components.md
Due: editorconfig-tools fix

Replace default routing with WordPress defaults
  src/server/index.js
  src/shared/default-routes.js
  src/shared/loader-categories.js
  src/shared/loader-front-page.js
  src/shared/loader-page.js
  src/shared/loader-post.js
  test/tests/component.test.js
  test/tests/document.test.js
  test/tests/proxies.test.js
  test/utils.js
Due: eslint --fix

hotfix: broken query params
  src/shared/loader-categories.js
  src/shared/loader-post.js
  test/utils.js
Due: eslint --fix

WIP
  package.json
  src/client/webpack.entry.js
  src/webpack/client.config.js
Due: editorconfig-tools fix, eslint --fix

Replaced babel-polyfill with es6-promise
  package.json
  src/client/webpack.entry.js
  src/webpack/client.config.js
Due: editorconfig-tools fix, eslint --fix

Removed unneeded array syntax
  src/webpack/client.config.js
Due: eslint --fix

Exposed __DEV__ through webpack.defineplugin
  src/webpack/client.config.js
  src/webpack/server.config.js
Due: eslint --fix

fix: fail first on error from async-props
  src/server/handle-dynamic.js
Due: eslint --fix

Initial front-page work
  bootstrap/components/front-page.js
  bootstrap/components/page.js
  bootstrap/components/post.js
  bootstrap/tapestry.config.js
  src/shared/loader-front-page.js
Due: eslint --fix

Split out asyncprops data loading and component render into resuable methods
  src/shared/default-routes.js
  src/shared/handle-route-data.js
  src/shared/handle-route-render.js
  src/shared/loader-categories.js
  src/shared/loader-front-page.js
  src/shared/loader-page.js
  src/shared/loader-post.js
Due: eslint --fix

Added missing posts?_embed API mock
  test/utils.js
Due: eslint --fix

Removed data normalising
  src/shared/handle-route-data.js
Due: eslint --fix

naming convention change
  src/shared/fetch-route-data.js
  src/shared/loader-categories.js
  src/shared/loader-front-page.js
  src/shared/loader-page.js
  src/shared/loader-post.js
  src/shared/render-route.js
Due: eslint --fix

typo
  src/shared/loader-categories.js
Due: eslint --fix

Display name for component
  src/fetch-data.js
Due: eslint --fix

display name for hoc
  src/fetch-data.js
Due: eslint --fix

Rewrite to introduce HOC data loading
  src/fetch-data.js
  src/shared/default-routes.js
  src/shared/loader-categories.js
  src/shared/loader-front-page.js
  src/shared/loader-page.js
  src/shared/loader-post.js
  src/shared/render-route.js
  test/components/front-page.js
  test/components/page.js
  test/tests/component.test.js
  test/tests/document.test.js
  test/tests/proxies.test.js
  test/tests/redirects.test.js
  test/tests/response.test.js
  test/tests/routing.test.js
  test/utils.js
Due: eslint --fix

Bring back missing component view render
  src/shared/default-routes.js
  src/shared/fetch-route-data.js
  test/components/front-page.js
  test/components/page.js
  test/components/post.js
  test/tests/document.test.js
Due: eslint --fix

allow custom error component
  src/shared/default-routes.js
Due: eslint --fix
