Repository shortlist-digital/tapestry-wp: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, eslint --fix

update changelog
  CHANGELOG.md
Due: editorconfig-tools fix

3.0.0-5
  package.json
Due: editorconfig-tools fix

use default timeout and increase keepAlive timeout
  src/shared/fetcher.js
Due: eslint --fix

3.0.0-6
  package.json
Due: editorconfig-tools fix

Fix the timeout error
  test/babel-register.js
Due: eslint --fix

fix the timeout errors
  package.json
  src/server/handle-api.js
  src/server/handle-dynamic.js
  src/shared/fetch-route-data.js
  test/tests/api.test.js
Due: editorconfig-tools fix, eslint --fix

revert to cleaner json extraction
  src/shared/fetch-route-data.js
Due: eslint --fix

remove source map report from package.json as it's included in babel-register
  package.json
Due: editorconfig-tools fix

update logging to be clearer
  src/server/handle-api.js
Due: eslint --fix

labelled 404 error
  src/server/handle-api.js
Due: eslint --fix

shared server side fetching and responding
  src/server/api-fetch-and-respond.js
  src/server/handle-api.js
  src/server/handle-preview.js
  test/tests/cache.test.js
  test/tests/preview.test.js
Due: eslint --fix

spacing
  src/server/handle-preview.js
Due: eslint --fix

skip cache if loading preview
  src/server/handle-dynamic.js
Due: eslint --fix

3.0.0-7
  package.json
Due: editorconfig-tools fix

logging async props is tooo much
  src/server/handle-dynamic.js
Due: eslint --fix

3.0.0-8
  package.json
Due: editorconfig-tools fix

hotfix some more broken logging
  src/server/api-fetch-and-respond.js
Due: eslint --fix

3.0.0-9
  package.json
Due: editorconfig-tools fix

remove more logs
  CHANGELOG.md
  src/server/api-fetch-and-respond.js
  src/server/handle-api.js
Due: editorconfig-tools fix, eslint --fix

3.0.0-10
  package.json
Due: editorconfig-tools fix

3.0.0
  package.json
Due: editorconfig-tools fix

add to changelog
  CHANGELOG.md
Due: editorconfig-tools fix

3.0.0-2
  package.json
Due: editorconfig-tools fix

async/await came in 7.6 not 7.0
  package.json
Due: editorconfig-tools fix

3.0.0-0
  package.json
Due: editorconfig-tools fix

Adds node-cache manager and makes caches test more readable for jon
  .eslintrc.json
  package.json
  src/server/handle-api.js
  src/server/handle-dynamic.js
  src/utilities/cache-manager.js
  test/tests/cache.test.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

add redis functionality
  package.json
  src/utilities/cache-manager.js
  test/tests/cache.test.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

move to throng process manager
  bin/tapestry-start
  package.json
  yarn.lock
Due: editorconfig-tools fix

run tests on node 7
  circle.yml
Due: none

2.3.1
  package.json
Due: editorconfig-tools fix

enforce engineStrict mode to stop installation on <7, asnyc/await support is required
  package.json
Due: editorconfig-tools fix

initial cluster work
  bin/tapestry-start
Due: none

3.0.0-1
  package.json
Due: editorconfig-tools fix

Path conditions:
  editorconfig-tools fix: any of: *.{md,sh,txt,xml,html,json}
  eslint --fix: any of: *.js
