Repository shortlist-digital/tapestry-wp: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, eslint --fix

.lintstagedrc:

{
  "*.{md,sh,txt,xml,html,json}": [
    "editorconfig-tools fix",
    "git add"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ]
}

reduce code for customisable progress color
  src/shared/progress-indicator.js
Due: eslint --fix

Nothing passes hex validation, not the same as hex code
  src/utilities/validator.js
Due: eslint --fix

run tests on different port to server default
  test/utils.js
Due: eslint --fix

fix options assignment
  src/server/index.js
Due: eslint --fix

2.0.0-6
  package.json
Due: editorconfig-tools fix

updates to the cache manager
  src/server/handle-api.js
  src/server/handle-dynamic.js
  src/server/handle-purge.js
  src/server/index.js
  src/utilities/cache-manager.js
Due: eslint --fix

clarified logging messages
  src/utilities/cache-manager.js
Due: eslint --fix

Added build step to bin commands, updated webpack config to node compatible
  bin/tapestry
  bin/tapestry-build
  bin/tapestry-start
  src/webpack/client.config.js
Due: eslint --fix

Rewrote how the Tapestry commands work
  bin/tapestry
  bin/tapestry-build
  bin/tapestry-dev
  bin/tapestry-run
  bin/tapestry-start
  src/index.js
Due: eslint --fix

Handle errors correctly
  bin/tapestry-build
  bin/tapestry-dev
  bin/tapestry-run
  bin/tapestry-start
Due: none

2.0.0-7
  package.json
Due: editorconfig-tools fix

Permission hotfix
  bin/tapestry-build
  bin/tapestry-run
Due: none

2.0.0-8
  package.json
Due: editorconfig-tools fix

simplify export
  src/server/handle-api.js
  src/server/handle-dynamic.js
  src/utilities/cache-manager.js
Due: eslint --fix

Reworked bin commands to improve reusability and user understanding? Also added support for custom babelrc
  bin/tapestry
  bin/tapestry-dev
  bin/tapestry-development
  bin/tapestry-run
  bin/tapestry-start
  src/utilities/create-compilers.js
  src/webpack/client.config.js
  src/webpack/server.config.js
  src/webpack/shared.js
Due: eslint --fix

Fixed require issue
  src/utilities/create-compilers.js
Due: eslint --fix

Tidied up cli messaging and comments
  bin/tapestry-build
  bin/tapestry-development
  bin/tapestry-start
Due: none

Testing postinstall script for github installation
  package.json
Due: editorconfig-tools fix

2.0.0-9
  package.json
Due: editorconfig-tools fix

Added Promise.all to handle multiple endpoints
  src/shared/fetch-data.js
  src/shared/fetch-route-data.js
Due: eslint --fix

Refactor
  src/shared/fetch-route-data.js
Due: eslint --fix

Allow endpoints as object
  src/shared/fetch-route-data.js
Due: eslint --fix

Refined array/object/function/string data type handling
  src/shared/fetch-data.js
  src/shared/fetch-route-data.js
Due: eslint --fix

Restructure of tests/mocks/api
  .eslintrc.json
  src/shared/default-routes.js
  test/components/error.js
  test/components/front-page.js
  test/components/page.js
  test/components/post.js
  test/mocks/page.json
  test/mocks/pages.json
  test/mocks/post.json
  test/mocks/posts.json
  test/tests/component.test.js
  test/tests/document.test.js
  test/tests/proxies.test.js
  test/tests/purge.test.js
  test/tests/redirects.test.js
  test/tests/response.test.js
  test/tests/routing.test.js
  test/utils.js
Due: editorconfig-tools fix, eslint --fix

Added endpoint tests
  test/tests/routing.test.js
Due: eslint --fix

Updated validator to match new endpoints
  src/utilities/validator.js
Due: eslint --fix

Reformatted expected JSON
  test/tests/routing.test.js
Due: eslint --fix

Initial implementation of preview API
  src/server/handle-dynamic.js
  src/server/handle-preview.js
  src/server/index.js
  src/shared/fetch-route-data.js
Due: eslint --fix

remove commented code
  src/server/handle-api.js
Due: eslint --fix

Added simple preview endpoint test
  test/tests/routing.test.js
Due: eslint --fix

Fixed query error
  src/shared/fetch-route-data.js
Due: eslint --fix

Reconfigured preview/api handlers, added winston logs
  src/server/handle-api.js
  src/server/handle-preview.js
Due: eslint --fix

Tidied up preview source code
  src/shared/fetch-route-data.js
Due: eslint --fix

Added preview prefix for logs
  src/server/handle-preview.js
Due: eslint --fix

Removed caching preview HTML
  src/server/handle-dynamic.js
Due: eslint --fix

Logging a notice to the CLI when using a custom babelrc
  src/index.js
  src/utilities/create-compilers.js
Due: eslint --fix

Create winston instance and replace logger, add notify method for cli
  bin/tapestry-build
  bin/tapestry-development
  bin/tapestry-init
  bin/tapestry-start
  src/server/handle-api.js
  src/server/handle-dynamic.js
  src/server/handle-preview.js
  src/server/handle-purge.js
  src/server/index.js
  src/shared/fetch-route-data.js
  src/utilities/cache-manager.js
  src/utilities/create-compilers.js
  src/utilities/logger.js
  src/utilities/validator.js
Due: eslint --fix

Replaced silent option with test env variable, added debug output logs to tapestry-log.log
  src/server/index.js
  src/utilities/logger.js
  test/utils.js
Due: eslint --fix

Removed unneeded client bundling file, renamed entry to index
  src/client/index.js
  src/client/webpack.entry.js
  src/webpack/client.config.js
Due: eslint --fix

Renamed logger
  bin/tapestry-build
  bin/tapestry-development
  bin/tapestry-init
  bin/tapestry-start
  src/client/index.js
  src/server/handle-api.js
  src/server/handle-dynamic.js
  src/server/handle-preview.js
  src/server/handle-purge.js
  src/server/index.js
  src/shared/fetch-route-data.js
  src/utilities/cache-manager.js
  src/utilities/create-compilers.js
  src/utilities/logger.js
  src/utilities/validator.js
Due: eslint --fix
