Repository shortlist-digital/tapestry-wp: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, eslint --fix

.lintstagedrc:

{
  "*.{md,sh,txt,xml,html,json}": [
    "editorconfig-tools fix",
    "git add"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ]
}

Minor naming updates and hotfixes
  package.json
  src/client/webpack.entry.js
  src/server/handle-dynamic.js
  src/server/render/default-html.js
  src/shared/fetch-data.js
  src/shared/route-wrapper.js
Due: editorconfig-tools fix, eslint --fix

Layout update
  src/shared/fetch-data.js
Due: eslint --fix

start immediately
  src/shared/progress-indicator.js
Due: eslint --fix

fix routing bug and add some error handling
  src/server/handle-api.js
  src/shared/fetch-data.js
  src/shared/fetch-route-data.js
Due: eslint --fix

fix typo
  src/shared/fetch-data.js
Due: eslint --fix

Merged develop
  README.md
  package.json
  test/components/page.js
  test/tests/component.test.js
  test/utils.js
Due: editorconfig-tools fix, eslint --fix

1.7.5
  package.json
Due: editorconfig-tools fix

logging errorObject to console
  src/client/index.js
  src/server/handle-dynamic.js
  src/server/index.js
  src/utilities/logger.js
  src/utilities/validator.js
Due: eslint --fix

1.7.6
  package.json
Due: editorconfig-tools fix

In progress re-working of component
  src/shared/progress-indicator.js
Due: eslint --fix

Re-worked progress to use in-house component and styles
  package.json
  src/shared/default-routes.js
  src/shared/progress-indicator.js
Due: editorconfig-tools fix, eslint --fix

Reverted to isomorphic-fetch as in-progress event no longer required, removed resp.ok checks as tests failing, will fix separately
  package.json
  src/server/handle-api.js
  src/shared/fetch-route-data.js
Due: editorconfig-tools fix, eslint --fix

Tweaking progress timing
  src/shared/progress-indicator.js
Due: eslint --fix

Reverted post route to year/month/day/slug
  src/shared/default-routes.js
Due: eslint --fix

Added styles to bootstrap site
  bin/tapestry-init
  bootstrap/components/front-page.js
  bootstrap/components/post.js
  bootstrap/styles/index.js
Due: eslint --fix

Removed lodash-plugin, renamed imports
  package.json
  src/server/handle-dynamic.js
  src/server/render/default-html.js
  src/server/render/index.js
  src/webpack/shared.js
  test/babel-register.js
Due: editorconfig-tools fix, eslint --fix

Updated packages, greenkeeps, whats the deal yo
  package.json
Due: editorconfig-tools fix

fix - added missing getComponent check
  src/shared/route-wrapper.js
Due: eslint --fix

initial work on purging API cache
  src/server/handle-api.js
  src/server/handle-purge.js
  src/server/index.js
  test/tests/purge.test.js
Due: eslint --fix

spacing [skip-ci]
  src/server/handle-purge.js
Due: eslint --fix

typo [skip ci]
  src/server/index.js
Due: eslint --fix

formatting [skip ci]
  src/server/index.js
Due: eslint --fix

Comment about components index [skip ci]
  src/server/handle-purge.js
Due: eslint --fix

fix - lodash not required in babel-register
  bin/tapestry-dev
Due: none

Revert version number for npm publish
  package.json
Due: editorconfig-tools fix

2.0.0-0
  package.json
Due: editorconfig-tools fix

Added separate prop-types package as per FBs recommendation
  bootstrap/components/page.js
  bootstrap/components/post.js
  package.json
  src/server/render/default-html.js
  src/shared/fetch-data.js
  src/shared/progress-indicator.js
Due: editorconfig-tools fix, eslint --fix

Added temporary fix for webpack deprecation warning
  src/webpack/server.config.js
Due: eslint --fix

Simplified data normalisation
  src/shared/fetch-data.js
Due: eslint --fix

Initial work on default error page
  .eslintrc.json
  src/shared/default-error.js
  src/shared/fetch-data.js
  src/shared/route-wrapper.js
Due: editorconfig-tools fix, eslint --fix

Mocked env variable in test to pass
  package.json
  test/utils.js
Due: editorconfig-tools fix, eslint --fix

Updated default error page design
  src/shared/default-error.js
Due: eslint --fix

Move dynamic CSS properties to inline styles to avod StyleSheet thrashing
  src/shared/progress-indicator.js
Due: eslint --fix

Added tests for Error rendered view, added env toggle for all tests, defaulting to DEV
  test/tests/component.test.js
  test/tests/document.test.js
  test/utils.js
Due: eslint --fix

WIP
  src/shared/default-error.js
  src/shared/missing-view.js
Due: eslint --fix

WIP
  src/shared/default-error.js
  src/shared/default-routes.js
  src/shared/fetch-data.js
  src/shared/missing-view.js
  src/shared/route-wrapper.js
  test/tests/component.test.js
Due: eslint --fix

WIP
  src/server/render/index.js
  src/shared/fetch-data.js
  src/shared/render-error.js
  src/shared/route-wrapper.js
Due: eslint --fix

Rendering an ErrorComponent now uses a consistent shared render method
  src/server/render/index.js
  src/shared/fetch-data.js
  src/shared/render-error.js
  src/shared/route-wrapper.js
Due: eslint --fix

Updated test to match new funcsh, fixed rendering errors
  src/shared/fetch-data.js
  src/shared/render-error.js
  test/tests/component.test.js
  test/utils.js
Due: eslint --fix

Removed unnecessary error default route
  src/shared/default-routes.js
Due: eslint --fix
