Repository shortlist-digital/tapestry-wp: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, eslint --fix

[skip ci] update changelog
  CHANGELOG.md
Due: editorconfig-tools fix

2.0.0
  package.json
Due: editorconfig-tools fix

bring back tapestry development mode
  bin/tapestry
  bin/tapestry-development
Due: none

bring back tapestry development mode
  bin/tapestry-hot
Due: none

get hot reload working again
  src/client/index.js
Due: eslint --fix

it does a full page refresh but it works
  yarn.lock
Due: none

add support for wordpress.com domains
  bin/tapestry-hot
Due: none

update changelog
  CHANGELOG.md
Due: editorconfig-tools fix

2.1.0
  package.json
Due: editorconfig-tools fix

Ignore query in tests, send cache bust request
  src/server/handle-redirects.js
  test/tests/redirects.test.js
Due: eslint --fix

2.2.0
  package.json
Due: editorconfig-tools fix

Allow increased cache size (#274)
  src/server/handle-api.js
  src/server/handle-dynamic.js
  src/server/handle-static.js
  src/utilities/cache-manager.js
  test/tests/cache.test.js
Due: eslint --fix

2.3.0
  package.json
Due: editorconfig-tools fix

case insensitive redirects
  src/server/handle-redirects.js
  test/tests/redirects.test.js
Due: eslint --fix

2.3.1
  package.json
Due: editorconfig-tools fix

add test for strange redirects
  test/tests/redirects.test.js
Due: eslint --fix

initial cluster work
  bin/tapestry-start
Due: none

move to throng process manager
  bin/tapestry-start
  package.json
  yarn.lock
Due: editorconfig-tools fix

Adds node-cache manager and makes caches test more readable for jon
  .eslintrc.json
  package.json
  src/server/handle-api.js
  src/server/handle-dynamic.js
  src/utilities/cache-manager.js
  test/tests/cache.test.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

run tests on node 7
  circle.yml
Due: none

enforce engineStrict mode to stop installation on <7, asnyc/await support is required
  package.json
Due: editorconfig-tools fix

async/await came in 7.6 not 7.0
  package.json
Due: editorconfig-tools fix

add redis functionality
  package.json
  src/utilities/cache-manager.js
  test/tests/cache.test.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

3.0.0-0
  package.json
Due: editorconfig-tools fix

add to changelog
  CHANGELOG.md
Due: editorconfig-tools fix

3.0.0-1
  package.json
Due: editorconfig-tools fix

3.0.0-2
  package.json
Due: editorconfig-tools fix

do not transpile await async files
  src/webpack/server.config.js
  yarn.lock
Due: eslint --fix

3.0.0-3
  package.json
Due: editorconfig-tools fix

change redis driver to accept url config
  package.json
  src/utilities/cache-manager.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

3.0.0-4
  package.json
Due: editorconfig-tools fix

pool http connections for isomorphic fetch
  src/server/handle-api.js
  src/server/handle-preview.js
  src/server/handle-redirects.js
  src/shared/fetch-options.js
  src/shared/fetch-route-data.js
Due: eslint --fix

create fetcher class that wraps fetch with default options
  src/server/handle-api.js
  src/server/handle-preview.js
  src/server/handle-redirects.js
  src/shared/fetch-options.js
  src/shared/fetch-route-data.js
  src/shared/fetcher.js
Due: eslint --fix

add lodash startswith to package.json
  src/package.json
  src/yarn.lock
Due: editorconfig-tools fix

fix weird package.json location
  package.json
  src/package.json
  yarn.lock
Due: editorconfig-tools fix

Path conditions:
  editorconfig-tools fix: any of: *.{md,sh,txt,xml,html,json}
  eslint --fix: any of: *.js
