Repository shortlist-digital/tapestry-wp: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, eslint --fix

Import http/https in Node only, always build stats.json
  .eslintrc.json
  src/shared/fetcher.js
  src/webpack/client.config.js
  src/webpack/server.config.js
Due: editorconfig-tools fix, eslint --fix

Removed import in prod
  src/shared/render-error.js
Due: eslint --fix

Fixed plugin reference
  src/webpack/shared.js
Due: eslint --fix

Upgrade dependencies
  package.json
  src/client/index.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

Replace es2015 preset with env
  package.json
  src/webpack/shared.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

Fix render error, fix test suite
  src/shared/render-error.js
  test/babel-register.js
  test/utils.js
Due: eslint --fix

Moved react to peer dependencies
  package.json
Due: editorconfig-tools fix

Revert idx reference
  src/webpack/shared.js
Due: eslint --fix

fix(package): update joi to version 13.0.0 (#301)
  package.json
Due: editorconfig-tools fix

!MERGE - Housekeeping (#299)
  .eslintrc.json
  package.json
  src/client/index.js
  src/server/handle-purge.js
  src/shared/fetch-route-data.js
  src/shared/fetcher.js
  src/shared/handle-api-response.js
  src/shared/render-error.js
  src/webpack/client.config.js
  src/webpack/server.config.js
  src/webpack/shared.js
  test/babel-register.js
  test/utils.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

This doesn't work
  package.json
  src/webpack/client.config.js
  src/webpack/shared.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

4.0.0-0
  package.json
Due: editorconfig-tools fix

Degraded joi to 12 to avoid node compat issue
  package.json
  yarn.lock
Due: editorconfig-tools fix

4.0.0-1
  package.json
Due: editorconfig-tools fix

add file-loader
  bin/tapestry-hot
  package.json
  src/server/handle-static.js
  src/webpack/client.config.js
  src/webpack/dev.config.js
  src/webpack/index.html
  src/webpack/shared.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

Move redirects handler to front of request queue to 'get them over with'
  src/server/handle-redirects.js
Due: eslint --fix

Move redirects handler to front of request queue to 'get them over with' (#307)
  src/server/handle-redirects.js
Due: eslint --fix

Add redirect log
  src/server/handle-redirects.js
Due: eslint --fix

3.0.3
  package.json
Due: editorconfig-tools fix

4.0.0-2
  package.json
Due: editorconfig-tools fix

testin
  package.json
  src/client/index.js
  src/shared/fetcher.js
  src/shared/handle-api-response.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

Add required polyfills for react 16
  src/client/index.js
  src/webpack/client.config.js
Due: eslint --fix

remove calls to 'keys' _in case_ they\'re callingon a our massive Redis instances (#312)
  src/server/api-fetch-and-respond.js
  src/server/handle-dynamic.js
Due: eslint --fix

Improve URL normalisation to handle malformed URLs
  package.json
  src/client/index.js
  src/server/handle-api.js
  src/server/handle-dynamic.js
  src/server/handle-preview.js
  src/utilities/cache-manager.js
  src/utilities/normalise-url-path/index.js
  src/utilities/normalise-url-path/index.test.js
Due: editorconfig-tools fix, eslint --fix

3.0.4
  package.json
Due: editorconfig-tools fix

Handle redirectPaths
  src/server/handle-redirects.js
  src/server/handle-static.js
Due: eslint --fix

Added required polyfills for React 16
  src/webpack/client.config.js
Due: eslint --fix

4.0.0-3
  package.json
Due: editorconfig-tools fix

Re-worked endpoint resolution to allow multi endpoint purging
  src/server/handle-purge.js
  src/shared/fetch-route-data.js
  src/utilities/resolve-paths/index.js
  src/utilities/resolve-paths/index.test.js
  test/tests/cache.test.js
Due: eslint --fix

Fix multi html cache clear
  src/server/handle-purge.js
Due: eslint --fix

Simplify fetch-route-data multi endpoints
  src/shared/fetch-route-data.js
  test/tests/cache.test.js
Due: eslint --fix

Defined simple test
  test/tests/document.test.js
Due: eslint --fix

Implement custom document
  src/server/render/index.js
  test/tests/document.test.js
Due: eslint --fix

Fixed missing options for non-endpoint routes
  src/shared/route-wrapper.js
  test/tests/document.test.js
Due: eslint --fix

Updated document params, added test for params
  src/server/render/default-document.js
  src/server/render/index.js
  src/server/render/prop-types.js
  test/tests/document.test.js
Due: eslint --fix

Added test for default document
  test/tests/document.test.js
Due: eslint --fix

Rename props param, update document key to customDocument, add to validator
  src/server/render/default-document.js
  src/server/render/index.js
  src/server/render/prop-types.js
  src/utilities/validator.js
  test/tests/document.test.js
Due: eslint --fix

Moved to utility dir and created simple test
  src/server/render/default-html.js
  src/utilities/escape-json-content/index.js
  src/utilities/escape-json-content/index.test.js
Due: eslint --fix

Restructure API handling for multi-endpoint
  src/shared/handle-api-response.js
Due: eslint --fix

update changelog
  CHANGELOG.md
Due: editorconfig-tools fix

Path conditions:
  editorconfig-tools fix: any of: *.{md,sh,txt,xml,html,json}
  eslint --fix: any of: *.js
