Repository shortlist-digital/tapestry-wp: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, eslint --fix

remove dist build step
  bin/tapestry-build
  bin/tapestry-development
  bin/tapestry-init
  bin/tapestry-start
  package.json
Due: editorconfig-tools fix

remove compilation step
  src/server/handle-api.js
  src/server/handle-dynamic.js
  src/server/handle-preview.js
  src/server/handle-purge.js
  src/server/index.js
  src/utilities/cache-manager.js
  src/utilities/create-compilers.js
  src/utilities/logger.js
  src/utilities/merge-config.js
Due: eslint --fix

Fix import references
  bin/tapestry-build
  bin/tapestry-development
  bin/tapestry-init
  bin/tapestry-start
  src/utilities/create-compilers.js
  src/utilities/validator.js
Due: eslint --fix

log nextProps for now to debug errors
  src/client/root.js
Due: eslint --fix

Handle redirects from a static file
  bin/tapestry-build
  bin/tapestry-init
  bin/tapestry-start
  src/server/handle-redirects.js
  src/utilities/create-compilers.js
  src/utilities/validator.js
  test/tests/redirects.test.js
Due: eslint --fix

fix logging
  bin/tapestry-build
  bin/tapestry-development
  bin/tapestry-init
  bin/tapestry-start
  src/utilities/create-compilers.js
  src/utilities/validator.js
Due: eslint --fix

merge fail
  bin/tapestry-development
Due: none

erroneous comma
  test/tests/redirects.test.js
Due: eslint --fix

Temporarily removing the tapestry.log file as it was erroring on a fresh build
  src/utilities/logger.js
Due: eslint --fix

2.0.0-14
  package.json
Due: editorconfig-tools fix

Added stripTrailingSlash to default router options, fixes redirects with trailing slash issue
  src/server/index.js
Due: eslint --fix

2.0.0-15
  package.json
Due: editorconfig-tools fix

Adding request.url.search to redirect path
  src/server/handle-redirects.js
Due: eslint --fix

Removed weird spacing
  src/server/handle-redirects.js
Due: eslint --fix

Added query test
  test/tests/redirects.test.js
Due: eslint --fix

Added isCaseSensitive option to Server config
  src/server/index.js
Due: eslint --fix

Added a year long cache for static script files
  src/server/handle-static.js
Due: eslint --fix

Added hapi-require-https plugin to server
  package.json
  src/server/index.js
  src/utilities/validator.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

Added a test for the redirects.json file functionality
  test/tests/redirects.test.js
Due: eslint --fix

organising file [skip ci]
  test/tests/redirects.test.js
Due: eslint --fix

a couple of comments
  test/tests/redirects.test.js
Due: eslint --fix

static route for speed [broken test]
  test/tests/redirects.test.js
Due: eslint --fix

Fix for 404 bug
  src/shared/handle-api-response.js
  test/tests/response.test.js
Due: eslint --fix

speed up tests, dependant on PR #239
  test/tests/redirects.test.js
Due: eslint --fix

2.0.0-16
  package.json
Due: editorconfig-tools fix

Fix/purge homepage (#242)
  src/server/handle-purge.js
  test/tests/cache.test.js
Due: eslint --fix

!MERGE - Fix/tapestry log (#243)
  src/server/handle-api.js
  src/server/handle-dynamic.js
  src/server/handle-purge.js
  src/utilities/cache-manager.js
  src/utilities/logger.js
Due: eslint --fix

fix double ampersand
  src/client/root.js
Due: eslint --fix

initial version of dynamic endpoints
  src/server/handle-redirects.js
  test/tests/redirects.test.js
Due: eslint --fix

add comment [skip ci]
  src/server/handle-redirects.js
Due: eslint --fix

test description update
  test/tests/redirects.test.js
Due: eslint --fix

futher tests
  src/server/handle-redirects.js
  test/tests/redirects.test.js
Due: eslint --fix

add redirectsEndpoint to validator
  src/utilities/validator.js
Due: eslint --fix

rectify vim typo [skip ci]
  src/utilities/validator.js
Due: eslint --fix

remove superflous times() call
  test/tests/redirects.test.js
Due: eslint --fix

throw proper error on non 200 response
  src/server/handle-redirects.js
Due: eslint --fix

update to webpack v3.4.x for faster builds
  package.json
Due: editorconfig-tools fix

2.0.0-17
  package.json
Due: editorconfig-tools fix

Update CHANGELOG.md
  CHANGELOG.md
Due: editorconfig-tools fix

pin glamor
  package.json
  yarn.lock
Due: editorconfig-tools fix

Path conditions:
  editorconfig-tools fix: any of: *.{md,sh,txt,xml,html,json}
  eslint --fix: any of: *.js
