Repository shortlist-digital/tapestry-wp: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, eslint --fix

.lintstagedrc:

{
  "*.{md,sh,txt,xml,html,json}": [
    "editorconfig-tools fix",
    "git add"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ]
}

1.5.5
  package.json
Due: editorconfig-tools fix

Scrubbin
  bootstrap/tapestry.config.js
Due: eslint --fix

BabelRC unused
  .babelrc
Due: none

Updating root adminy files
  .npmignore
  package.json
Due: editorconfig-tools fix

gitignore clean-up
  .gitignore
Due: none

Moved bin/ to src/bin/
  src/bin/tapestry
  src/bin/tapestry-build
  src/bin/tapestry-dev
  src/bin/tapestry-init
  src/bin/tapestry-start
Due: none

Updated logo dir name
  assets/tapestry-logo-glyph.svg
  assets/tapestry-logo-horizontal.svg
  assets/tapestry-logo-vertical.svg
  package.json
Due: editorconfig-tools fix

Reverted bin/ move
  bin/tapestry
  bin/tapestry-build
  bin/tapestry-dev
  bin/tapestry-init
  bin/tapestry-start
  package.json
Due: editorconfig-tools fix

Re-structured codebase, pre-webpack integration
  package.json
  src/client/index.js
  src/client/webpack.entry.js
  src/index.js
  src/server/index.js
  src/server/render/default-html.js
  src/server/render/default-style.js
  src/server/render/index.js
  src/shared/default-routes.js
  src/shared/loader-categories.js
  src/shared/loader-front-page.js
  src/shared/loader-page.js
  src/shared/loader-post.js
  src/shared/missing-view.js
  src/utilities/logger.js
  src/webpack/client.config.js
  src/webpack/server.config.js
Due: editorconfig-tools fix, eslint --fix

Server/Client webpack bundling
  example/assets.json
  example/index.js
  example/public/favicon.ico
  example/tapestry.config.js
  package.json
  src/client/index.js
  src/server/index.js
  src/server/render/index.js
  src/webpack/rules.js
  src/webpack/server.config.js
Due: editorconfig-tools fix, eslint --fix

Exposed server/client/boot options from tapestry to fix test boilerplate, split out babel options into babel-register file
  package.json
  src/index.js
  test/babel-register.js
  test/utils.js
Due: editorconfig-tools fix, eslint --fix

Added example directory for testing purposes
  .eslintignore
  example/.tapestry/assets.json
  example/index.js
  src/server/index.js
  src/webpack/client.config.js
Due: editorconfig-tools fix, eslint --fix

Updated .tapestry/tapestry.config/assets.json dir references to correct path, run node index.js from with example/ to run
  example/.tapestry/assets.json
  example/assets.json
  src/client/webpack.entry.js
  src/server/index.js
  src/webpack/client.config.js
Due: editorconfig-tools fix, eslint --fix

Exposed webpack server build to prepublish command
  package.json
Due: editorconfig-tools fix

New tapestry API for bin/
  example/index.js
  src/index.js
  test/utils.js
Due: eslint --fix

Centered logo/text/badges
  README.md
Due: editorconfig-tools fix

Shouldn't have been versioned
  example/.tapestry/assets.json
Due: editorconfig-tools fix

Removing example/ from versioning
  .gitignore
Due: none

Improved client webpack config, split out vendor files, reverted code-splitting as it can't scale to custom components
  package.json
  src/server/index.js
  src/server/render/default-html.js
  src/shared/default-routes.js
  src/webpack/client.config.js
  test/utils.js
Due: editorconfig-tools fix, eslint --fix

Integrated new API into bin commands, outputting transpiled logger for bin commands
  bin/tapestry
  bin/tapestry-build
  bin/tapestry-dev
  bin/tapestry-start
  package.json
Due: editorconfig-tools fix

Reverted README
  README.md
Due: editorconfig-tools fix

Ignoring my local test directory
  .gitignore
Due: none

Reimplemented client build log
  src/client/index.js
Due: eslint --fix

Ignore testing folder properly
  .gitignore
Due: none

Split out server routing
  src/server/handle-api.js
  src/server/handle-dynamic.js
  src/server/handle-proxies.js
  src/server/handle-static.js
  src/server/index.js
Due: eslint --fix

Documenting config options
  package.json
  src/webpack/client.config.js
  src/webpack/server.config.js
Due: editorconfig-tools fix, eslint --fix

Added static routing, basic tests
  src/client/webpack.entry.js
  src/server/handle-dynamic.js
  src/shared/default-routes.js
  test/tests/routing.test.js
Due: eslint --fix

Clean up tests
  test/tests/component.test.js
  test/utils.js
Due: eslint --fix

Upgraded eslint and fixed linting errors
  .eslintrc
  .eslintrc.json
  src/client/webpack.entry.js
  src/server/render/index.js
  src/utilities/logger.js
  src/webpack/client.config.js
Due: editorconfig-tools fix, eslint --fix

Re-organised default route code
  src/shared/default-routes.js
Due: eslint --fix

KB savin, Preact replacin React in production, lodash-plugin tree-shaking methods, fixed StatsPlugin output location
  bin/tapestry-dev
  package.json
  src/webpack/client.config.js
  src/webpack/rules.js
Due: editorconfig-tools fix, eslint --fix

Fixed npmignore list
  .npmignore
Due: none

Removed test files
  example/index.js
  example/public/favicon.ico
  example/tapestry.config.js
Due: eslint --fix

Created validator utility to validate the user tapestry.config.js
  bin/tapestry-dev
  bin/tapestry-start
  package.json
  src/utilities/validator.js
  test/utils.js
Due: editorconfig-tools fix, eslint --fix

Updated reference to config in server, checking for assets output before logging in client
  src/client/index.js
  src/server/index.js
Due: eslint --fix

Removed tapestry build reference
  README.md
Due: editorconfig-tools fix

Fleshed out validator
  src/utilities/validator.js
Due: eslint --fix

Following Redux lead
  .npmignore
  logo/tapestry-logo-glyph.svg
  logo/tapestry-logo-horizontal.svg
  logo/tapestry-logo-vertical.svg
Due: none

Fixed docs logo location
  package.json
Due: editorconfig-tools fix

Including tapestry-wp in the babel-loader, when building the client from cwd it was missed
  package.json
  src/client/index.js
  src/webpack/client.config.js
  src/webpack/rules.js
  src/webpack/server.config.js
  src/webpack/shared.js
Due: editorconfig-tools fix, eslint --fix
