Repository shortlist-digital/tapestry-wp: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, eslint --fix

.lintstagedrc:

{
  "*.{md,sh,txt,xml,html,json}": [
    "editorconfig-tools fix",
    "git add"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ]
}

update package version
  package.json
Due: editorconfig-tools fix

bad versioning
  package.json
Due: editorconfig-tools fix

4.0.0
  package.json
Due: editorconfig-tools fix

Initial work on README improvements
  README.md
Due: editorconfig-tools fix

Added commands and custom compilation notes
  README.md
Due: editorconfig-tools fix

Initial workings
  README.md
  package.json
  src/shared/components/progress-officer/index.js
  src/shared/components/progress-officer/prop-types.js
  src/shared/route-wrapper.js
  src/utilities/validator.js
  test/tests/component.test.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

Fix component reference
  src/shared/components/progress-officer/index.js
Due: eslint --fix

Tidy up
  src/shared/components/progress-indicator/index.js
  src/shared/components/progress-indicator/prop-types.js
  src/shared/route-wrapper.js
Due: eslint --fix

Little hasty on the version bump
  package.json
Due: editorconfig-tools fix

Initial hot-server work
  bin/hot-server.js
  bin/tapestry
  bin/tapestry-hot-server
  package.json
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

tidy up
  bin/hot-server.js
Due: eslint --fix

Updated other commands to new Sade interface
  bin/_nodemon-hot-server.js
  bin/tapestry
  bin/tapestry-build
  bin/tapestry-build.js
  bin/tapestry-development
  bin/tapestry-development.js
  bin/tapestry-hot
  bin/tapestry-hot-server.js
  bin/tapestry-hot.js
  bin/tapestry-init
  bin/tapestry-init.js
  bin/tapestry-start
  bin/tapestry-start.js
Due: eslint --fix

Added default component and logic to handle display
  src/shared/components/default-progress-indicator/index.js
  src/shared/components/default-progress-indicator/prop-types.js
  src/shared/components/progress-indicator/index.js
  test/tests/component.test.js
Due: eslint --fix

Tidied test
  test/tests/component.test.js
Due: eslint --fix

Set up prettier
  .eslintrc.json
  .lintstagedrc
  .prettierrc
  package.json
  yarn.lock
Due: editorconfig-tools fix

Tweaked config
  .lintstagedrc
  .prettierrc
Due: none

Fix file reference
  bin/tapestry-hot-server.js
Due: eslint --fix

Finalise hot-server config
  bin/_scripts/boot-server.js
  bin/tapestry-hot-server.js
  package.json
  src/index.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

Remove commander
  package.json
Due: editorconfig-tools fix

5.0.0
  package.json
Due: editorconfig-tools fix

Temp revert hotserver update
  bin/_scripts/boot-server.js
  bin/tapestry
  bin/tapestry-build
  bin/tapestry-build.js
  bin/tapestry-development
  bin/tapestry-development.js
  bin/tapestry-hot
  bin/tapestry-hot-server.js
  bin/tapestry-hot.js
  bin/tapestry-init
  bin/tapestry-init.js
  bin/tapestry-start
  bin/tapestry-start.js
  package.json
  src/utilities/validator.js
Due: editorconfig-tools fix, eslint --fix

5.0.1
  package.json
Due: editorconfig-tools fix

fix: package.json to reduce vulnerabilities
  package.json
Due: editorconfig-tools fix
