Repository shortlist-digital/tapestry-wp: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, eslint --fix

3.0.0-7
  package.json
Due: editorconfig-tools fix

3.0.0-5
  package.json
Due: editorconfig-tools fix

add lodash startswith to package.json
  src/package.json
  src/yarn.lock
Due: editorconfig-tools fix

pool http connections for isomorphic fetch
  src/server/handle-api.js
  src/server/handle-preview.js
  src/server/handle-redirects.js
  src/shared/fetch-options.js
  src/shared/fetch-route-data.js
Due: eslint --fix

3.0.0-4
  package.json
Due: editorconfig-tools fix

shared server side fetching and responding
  src/server/api-fetch-and-respond.js
  src/server/handle-api.js
  src/server/handle-preview.js
  test/tests/cache.test.js
  test/tests/preview.test.js
Due: eslint --fix

hotfix some more broken logging
  src/server/api-fetch-and-respond.js
Due: eslint --fix

spacing
  src/server/handle-preview.js
Due: eslint --fix

update changelog
  CHANGELOG.md
Due: editorconfig-tools fix

labelled 404 error
  src/server/handle-api.js
Due: eslint --fix

logging async props is tooo much
  src/server/handle-dynamic.js
Due: eslint --fix

fix the timeout errors
  package.json
  src/server/handle-api.js
  src/server/handle-dynamic.js
  src/shared/fetch-route-data.js
  test/tests/api.test.js
Due: editorconfig-tools fix, eslint --fix

use default timeout and increase keepAlive timeout
  src/shared/fetcher.js
Due: eslint --fix

create fetcher class that wraps fetch with default options
  src/server/handle-api.js
  src/server/handle-preview.js
  src/server/handle-redirects.js
  src/shared/fetch-options.js
  src/shared/fetch-route-data.js
  src/shared/fetcher.js
Due: eslint --fix

3.0.0-10
  package.json
Due: editorconfig-tools fix

do not transpile await async files
  src/webpack/server.config.js
  yarn.lock
Due: eslint --fix

3.0.0-8
  package.json
Due: editorconfig-tools fix

3.0.0-6
  package.json
Due: editorconfig-tools fix

revert to cleaner json extraction
  src/shared/fetch-route-data.js
Due: eslint --fix

fix weird package.json location
  package.json
  src/package.json
  yarn.lock
Due: editorconfig-tools fix

update logging to be clearer
  src/server/handle-api.js
Due: eslint --fix

Fix the timeout error
  test/babel-register.js
Due: eslint --fix

3.0.0-3
  package.json
Due: editorconfig-tools fix

remove source map report from package.json as it's included in babel-register
  package.json
Due: editorconfig-tools fix

change redis driver to accept url config
  package.json
  src/utilities/cache-manager.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

skip cache if loading preview
  src/server/handle-dynamic.js
Due: eslint --fix

remove more logs
  CHANGELOG.md
  src/server/api-fetch-and-respond.js
  src/server/handle-api.js
Due: editorconfig-tools fix, eslint --fix

3.0.0
  package.json
Due: editorconfig-tools fix

Remove strict X-Frame-Options header to allow site to be viewed within iframe
  src/server/index.js
Due: eslint --fix

Remove strict X-Frame-Options header to allow site to be viewed within iframe (#294)
  src/server/index.js
Due: eslint --fix

3.0.1
  package.json
Due: editorconfig-tools fix

Added unhandledRejection log (#295)
  src/server/index.js
Due: eslint --fix

3.0.2
  package.json
Due: editorconfig-tools fix

Replace lodash reference with individual packages
  package.json
  src/server/handle-purge.js
  src/shared/fetch-route-data.js
  src/shared/handle-api-response.js
Due: editorconfig-tools fix, eslint --fix

Path conditions:
  editorconfig-tools fix: any of: *.{md,sh,txt,xml,html,json}
  eslint --fix: any of: *.js
