Repository shortlist-digital/tapestry-wp: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, eslint --fix

Added npm test to pre-commit script
  .lintstagedrc
Due: none

Testing pre-commit script
  src/build.js
Due: eslint --fix

Tested pre-commit script
  src/build.js
Due: eslint --fix

Updated `npm install` code syntax
  README.md
Due: editorconfig-tools fix

Reduced render method to ternary
  src/render.js
Due: eslint --fix

add logos
  logo/tapestry-logo-glyph.svg
  logo/tapestry-logo-horizontal.svg
  logo/tapestry-logo-vertical.svg
  package.json
Due: editorconfig-tools fix

Add logo to readme
  README.md
Due: editorconfig-tools fix

update scripts
  .gitignore
  package.json
Due: editorconfig-tools fix

ignore book
  .gitignore
Due: none

add [skip-ci] to gh-pages update
  package.json
Due: editorconfig-tools fix

change to [skip ci]
  package.json
Due: editorconfig-tools fix

Add link
  README.md
Due: editorconfig-tools fix

fix link
  README.md
Due: editorconfig-tools fix

add CNAME
  CNAME
  package.json
Due: editorconfig-tools fix

fix CNAME cp
  package.json
Due: editorconfig-tools fix

Minified SVG
  logo/tapestry-logo-glyph.svg
Due: none

Minified SVG
  logo/tapestry-logo-horizontal.svg
Due: none

Minified SVG
  logo/tapestry-logo-vertical.svg
Due: none

don't publish logos to npm
  .npmignore
Due: none

update devDeps
  package.json
Due: editorconfig-tools fix

1.5.0
  package.json
Due: editorconfig-tools fix

Fixed this thing, can't understand how it works
  src/default-html.js
  src/default-routes.js
  src/loader-categories.js
  src/loader-front-page.js
  src/loader-page.js
  src/loader-post.js
  src/render.js
Due: eslint --fix

Slightly improved ridiculous data checking
  src/loader-categories.js
  src/loader-front-page.js
  src/loader-page.js
  src/loader-post.js
Due: eslint --fix

1.5.1
  package.json
Due: editorconfig-tools fix

Updated tests and code to work
  src/render.js
  src/server.js
  test/components/error.js
  test/tests/component.test.js
  test/tests/proxies.test.js
  test/tests/response.test.js
  test/utils.js
Due: eslint --fix

Removed unneeded enzyme dependency
  package.json
  test/tests/component.test.js
Due: editorconfig-tools fix, eslint --fix

Added react-helmet test
  test/components/post.js
  test/tests/component.test.js
  test/tests/proxies.test.js
Due: eslint --fix

Added pre-post version scripts to lint-staged and push to git
  package.json
Due: editorconfig-tools fix

Reverted non-matching route to 404 status
  src/server.js
  test/tests/response.test.js
Due: eslint --fix

1.5.2
  package.json
Due: editorconfig-tools fix

1.5.3
  package.json
Due: editorconfig-tools fix

executable permissions for tapestry-init
  bin/tapestry-init
Due: none

add _book to eslintignore
  .eslintignore
Due: none

1.5.4
  package.json
Due: editorconfig-tools fix

update changelog
  CHANGELOG.md
Due: editorconfig-tools fix

add repo to package.json
  package.json
Due: editorconfig-tools fix

Path conditions:
  editorconfig-tools fix: any of: *.{md,sh,txt,xml,html,json}
  eslint --fix: any of: *.js
