Repository shortlist-digital/tapestry-wp: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, eslint --fix

Tidy up, removing test data
  src/shared/default-error.js
  src/shared/fetch-data.js
  src/shared/missing-view.js
  src/shared/render-error.js
  src/shared/route-wrapper.js
  test/tests/component.test.js
Due: eslint --fix

Revert unnecessary whitespace changes
  src/shared/route-wrapper.js
Due: eslint --fix

Add options object to validator, including new themeColor
  src/utilities/validator.js
Due: eslint --fix

Updated options to only include host, port and themeColor, integrated options into server
  src/server/index.js
  src/utilities/validator.js
Due: eslint --fix

Integrated themeColor
  src/server/index.js
  src/shared/progress-indicator.js
  src/shared/route-wrapper.js
Due: eslint --fix

Updated progress color reference
  src/shared/progress-indicator.js
  src/utilities/validator.js
Due: eslint --fix

escape slashes to prevent </script> in JSON in __ASYNC_PROPS__
  src/server/render/default-html.js
  test/tests/document.test.js
  test/tests/routing.test.js
Due: eslint --fix

2.0.0-1
  package.json
Due: editorconfig-tools fix

Error if empty object, not array. Fixed PropType warning
  src/shared/fetch-data.js
  src/shared/render-error.js
Due: eslint --fix

2.0.0-2
  package.json
Due: editorconfig-tools fix

Tweaked timings/percentage increase, switched default color to Shortlist Studio turquoise, removed glamor dependency
  src/shared/progress-indicator.js
Due: eslint --fix

Add options to route to allow empty array to return 200, not 404
  src/shared/default-routes.js
  src/shared/fetch-data.js
  src/shared/route-wrapper.js
  src/utilities/validator.js
Due: eslint --fix

Removed unneeded minifier package
  package.json
  src/server/render/index.js
Due: editorconfig-tools fix, eslint --fix

Removed default glamor reset and opinionated global styles
  src/server/render/default-html.js
  src/server/render/default-style.js
  src/server/render/index.js
Due: eslint --fix

Moved onUpdate callback
  src/client/webpack.entry.js
  src/shared/fetch-data.js
Due: eslint --fix

Added pageUpdate method for non-endpoint routes
  src/shared/route-wrapper.js
Due: eslint --fix

Added scrollTop
  src/shared/route-wrapper.js
Due: eslint --fix

Detect client render, handle call stack issue
  src/shared/fetch-data.js
Due: eslint --fix

2.0.0-3
  package.json
Due: editorconfig-tools fix

Removed repeated declaration
  .eslintrc.json
Due: editorconfig-tools fix

installed plugins
  bin/tapestry-dev
  package.json
  src/webpack/shared.js
  test/babel-register.js
Due: editorconfig-tools fix, eslint --fix

This should work
  src/shared/default-routes.js
  src/shared/fetch-data.js
  src/utilities/validator.js
Due: eslint --fix

Make work
  src/shared/fetch-data.js
Due: eslint --fix

2.0.0-4
  package.json
Due: editorconfig-tools fix

Update <AsyncPropsWrapper /> to only re-render when new data received
  src/shared/fetch-data.js
Due: eslint --fix

2.0.0-5
  package.json
Due: editorconfig-tools fix

Allow env PORT to override developer settings
  src/server/index.js
Due: eslint --fix

Adding missing yarn lock file
  yarn.lock
Due: none

Data now coming from wordpress.org, updated default post route to match, tweaked styling, updated post data handling
  bootstrap/components/front-page.js
  bootstrap/components/post.js
  bootstrap/styles/index.js
  bootstrap/tapestry.config.js
  src/shared/default-routes.js
Due: eslint --fix

logging for purge endpoint
  package.json
  src/server/handle-purge.js
Due: editorconfig-tools fix, eslint --fix

dynamic html response logging
  src/server/handle-dynamic.js
Due: eslint --fix

api response logging
  src/server/handle-api.js
  src/server/handle-dynamic.js
Due: eslint --fix

erroneous winston import
  src/server/handle-purge.js
Due: eslint --fix

allow log level to be set by env var LOG_LEVEL
  src/server/handle-purge.js
  src/server/index.js
Due: eslint --fix

tidy formatting
  src/server/handle-api.js
  src/server/index.js
Due: eslint --fix

default to LOG_LEVEL=info
  src/server/index.js
Due: eslint --fix

configure cli logging
  src/server/index.js
Due: eslint --fix

comment
  src/server/index.js
Due: eslint --fix

fix background color on progress bar
  src/shared/progress-indicator.js
Due: eslint --fix

mapping browser favicon.ico request and adding Home button
  bootstrap/components/post.js
  src/server/handle-static.js
Due: eslint --fix

Path conditions:
  editorconfig-tools fix: any of: *.{md,sh,txt,xml,html,json}
  eslint --fix: any of: *.js
