Repository shortlist-digital/tapestry-wp: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, eslint --fix

.lintstagedrc:

{
  "*.{md,sh,txt,xml,html,json}": [
    "editorconfig-tools fix",
    "git add"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ]
}

Woops
  src/client/index.js
Due: eslint --fix

Remove log from client JS
  src/shared/fetch-route-data.js
Due: eslint --fix

Fix query object lookup
  src/shared/fetch-route-data.js
Due: eslint --fix

2.0.0-10
  package.json
Due: editorconfig-tools fix

Only creating stats.json in dev mode
  src/webpack/client.config.js
Due: eslint --fix

Removed server scripts bundle suffix
  bin/tapestry-development
  bin/tapestry-start
  src/webpack/server.config.js
Due: eslint --fix

Removed postinstall to test possible heroku dist/ corruption
  package.json
Due: editorconfig-tools fix

Switched to files config in package.json instead of npmignore
  .npmignore
  package.json
Due: editorconfig-tools fix

2.0.0-11
  package.json
Due: editorconfig-tools fix

Wrote a test for some proxy paths with wildcards
  test/tests/proxies.test.js
Due: eslint --fix

Upgraded dependencies, run tests/linting
  bootstrap/components/front-page.js
  package.json
  src/shared/progress-indicator.js
  src/shared/route-wrapper.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

Removed minor updates from possible upgrade
  package.json
  yarn.lock
Due: editorconfig-tools fix

Updated a few more crucial packages to patch updates only
  package.json
  yarn.lock
Due: editorconfig-tools fix

2.0.0-12
  package.json
Due: editorconfig-tools fix

add directory cache
  src/webpack/shared.js
Due: eslint --fix

Added normalization method for cache keys, updated and added debug logs
  src/server/handle-api.js
  src/server/handle-dynamic.js
  src/utilities/cache-manager.js
Due: eslint --fix

Testing cache setting items correctly
  test/tests/cache.test.js
Due: eslint --fix

Added cache get tests:
  test/tests/cache.test.js
Due: eslint --fix

Renamed slash removing method
  src/server/handle-api.js
  src/server/handle-dynamic.js
  src/utilities/cache-manager.js
Due: eslint --fix

Tweaked logs and improved consistency
  src/server/handle-api.js
  src/server/handle-preview.js
Due: eslint --fix

Simplified cache purge and updated tests
  src/server/handle-purge.js
  test/tests/cache.test.js
Due: eslint --fix

2.0.0-13
  package.json
Due: editorconfig-tools fix

Shared status code logic between server and client, added more tests for varying responses
  src/server/handle-dynamic.js
  src/server/render/index.js
  src/shared/fetch-data.js
  src/shared/handle-api-response.js
  test/tests/response.test.js
Due: eslint --fix

Restructured HTML component and proptypes
  src/server/render/default-html.js
  src/server/render/prop-types.js
Due: eslint --fix

Integrated http-status and improved status code/message selection
  package.json
  src/server/handle-dynamic.js
  src/server/handle-purge.js
  src/shared/handle-api-response.js
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

Improved error view handling, returning missing component in dev, custom error always if declared
  src/server/handle-dynamic.js
  src/server/render/index.js
  src/shared/default-error.js
  src/shared/fetch-data.js
  src/shared/missing-view.js
  src/shared/render-error.js
  src/shared/route-wrapper.js
  test/tests/component.test.js
Due: eslint --fix

Removed unnecessary API call and commented test
  test/tests/response.test.js
Due: eslint --fix

Switched on default security option in Hapi
  src/server/index.js
Due: eslint --fix

Checking for options on routes rather than component
  src/shared/handle-api-response.js
Due: eslint --fix

Updated route config reference
  src/shared/handle-api-response.js
Due: eslint --fix

Reconfigured component, moved to separate folder, updated to 3px height, handle slow connections
  src/shared/components/progress-indicator/index.js
  src/shared/components/progress-indicator/prop-types.js
  src/shared/progress-indicator.js
  src/shared/route-wrapper.js
Due: eslint --fix

Added test for progressBarColor
  test/tests/component.test.js
  test/utils.js
Due: eslint --fix

Moved remaining shared components
  src/shared/components/default-error/index.js
  src/shared/components/default-error/prop-types.js
  src/shared/components/missing-view/index.js
  src/shared/render-error.js
Due: eslint --fix

Save resetDelay value
  src/shared/components/progress-indicator/index.js
Due: eslint --fix

Improve uniqueness of test color
  test/tests/component.test.js
Due: eslint --fix

Exploratory work on creating a hot loading dev workflow on the client only
  bin/tapestry-development
  package.json
  src/client/index.js
  src/client/root.js
  src/utilities/create-compilers.js
  src/webpack/dev.config.js
  src/webpack/index.html
  yarn.lock
Due: editorconfig-tools fix, eslint --fix

enable history API fallback
  bin/tapestry-development
Due: none

tidy up dev files
  bin/tapestry-development
  src/webpack/dev.config.js
Due: eslint --fix

update error message [skip ci]
  bin/tapestry-development
Due: none

Tapestry favicon in development mode
  bin/tapestry-development
  logo/favicon.ico
  package.json
  src/webpack/index.html
Due: editorconfig-tools fix
